*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --info: #0dcaf0;
  --shadowColor: #0dcaf075;
  --shadow:
    5px 5px 15px var(--shadowColor), -5px -5px 15px var(--shadowColor),
    5px -5px 15px var(--shadowColor), -5px 5px 15px var(--shadowColor);
}
body,
nav,
.offcanvas {
  background-color: #121829 !important;
}
#code,
#welcome {
  height: 100vh;
  width: 100vw;
}

#welcome {
  color: var(--info);
  animation: pulsatingShadow 3s infinite linear;
}
#code {
  color: transparent;
  font-size: 10rem;
  animation: light 3s linear 1s 1;
}
#code::after {
  content: '</>';
}
#logo::after {
  color: var(--info);
  text-shadow: var(--shadow);
  content: '</>';
  animation: light 3s linear 1s infinite;
}

#about,
#techs,
#projects,
#contact {
  margin-top: 25%;
}

.nav-link {
  color: #fbfbfb;
}
.nav-link:hover {
  color: var(--info);
}

.nav-link.router-link-active {
  color: var(--info) !important;
  text-shadow: var(--shadow);
  font-weight: 600;
  animation: pulsatingShadow 3s infinite linear;
}

#langBtnPL,
#langBtnEN {
  width: 20px;
  height: 20px;
  border: 1.5px solid white;
}

.carousel-img {
  height: 400px;
  object-fit: contain;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

@keyframes light {
  0% {
    text-shadow: none;
  }
  1% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  2% {
    color: transparent;
    text-shadow: none;
  }
  3% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  31% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  32% {
    color: transparent;
    text-shadow: none;
  }
  33% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  64% {
    color: var(--info);
    text-shadow:
      5px 5px 15px #54b3d353,
      -5px -5px 15px#54b3d353,
      5px -5px 15px #54b3d353,
      -5px 5px 15px#54b3d353;
  }
  95% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  96% {
    color: transparent;
    text-shadow: none;
  }
  97% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  99% {
    color: var(--info);
    text-shadow: var(--shadow);
  }
  100% {
    color: transparent;
    text-shadow: none;
  }
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}
@keyframes pulsatingShadow {
  0%,
  100% {
    text-shadow: var(--shadow);
  }
  50% {
    text-shadow:
      5px 5px 15px #54b3d353,
      -5px -5px 15px#54b3d353,
      5px -5px 15px #54b3d353,
      -5px 5px 15px#54b3d353;
  }
}

@media (min-width: 768px) {
  #code {
    font-size: 20rem;
  }
  #about,
  #techs,
  #projects,
  #contact {
    margin-top: 10%;
  }
}
